h1
{
    background-color: #333;
    color: white;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
p
{
    background-color: darkslategray;
    color: white;
    padding: 20px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}
.Main
{
    font-size: 40px;
    background-color: #113;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px;
}
button#Not
{
    color: white;
}
button#Reset
{
    color:white;
}
.button
{
    color: white;
    block-size: 30px;
    size: 30px;
    background-color:#333 ;
}